*{
    margin: 0;
    padding: 0;
}

h2{
    color: red;
    font-style: italic;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: overline;
    font-size: 50px;
    text-align: center;
}
#heading-parent{
    background-color: rgb(99, 13, 180);
    height: 450px;
    padding: 50px;
    width: 500px;
    margin: 59px auto;
}