*{
    margin: 0;
    padding: 0;
}

h2{
    color: red;
    font-style: italic;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: overline;
    font-size: 50px;
    text-align: center;
}
#heading-parent{
    background-color: rgb(99, 13, 180);
    height: 450px;
    padding: 50px;
    width: 500px;
    /* max-width: 1100px; */
    margin: 59px auto;   
}
.btn-parent{
    text-align: center;
}
.btn{
    background-color: tomato;
    padding: 8px 15px;
    color: cornflowerblue;
    border: solid;
    border-width: 4px;
    border-color: yellow;
    border-radius: 6px;
    width: 400px;
    margin: 70px;
    text-align: center;
}